body {
  background-image: url("../images/stationBG.jpeg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.poster {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 60px 20px;
  margin: 20px 0px;
}
.title-main {
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 40px;
  text-shadow: 2px 2px 5px black;
}
.title-second {
  font-family: "Yeseva One", cursive;
  font-size: 80px;
  text-shadow: 2px 2px 5px black;
}

@media (max-width: 768px) {
  body {
    font-size: 11px;
  }
  .title-main {
    font-family: "Zilla Slab Highlight", cursive;
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
  }
  .title-second {
    font-family: "Yeseva One", cursive;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
  }
  h3,
  h5 {
    font-size: 14px;
  }
  .arrival {
    padding: 0px 4px;
  }
}
